.tweet{
  border: 1px solid #ccc;
  width: 564px;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.avatar{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 10px;
  border: 10px solid orange;
}

.name {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 0.3em;
}

.handle {
  color: #8899a6;
  font-size: 13px;
}


.time {
  padding-left: 0.3em;
  color: #8899a6;
}

.time::before {
  content: "\00b7";
  padding-right: 0.3em;
}

.button {
  margin-top: 10px;
  margin-left: 2px;
  font-size: 1.4em;
  color: #aab8c2;
}

.button i {
  width: 80px;
}
